.RegisterStudentsUIWrapper{
    margin-left: 10%;
}
.RegisterStudentsUIWrapper button{
    background-color: lightgrey;
    color: black;
}
.RegisterStudentsTable{
    margin: 1.5rem;
    width: fit-content;
}
.RegisterStudentsTable th,td{
    border:solid 1px;
}
.RegisterStudentsTable th{
    width: 10rem;
}
.loading{
    font-weight: bold;
}
.loaded{
    display: none;
}
.errorBox {
  border: 1px solid red;
  background-color: #ffe5e5;
  color: red;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}
