.RegisterStudentsUIWrapper{
    margin-left: 10%;
}
.RegisterStudentsUIWrapper button{
    background-color: lightgrey;
    color: black;
}
.RegisterStudentsTable{
    margin: 1.5rem;
    width: fit-content;
}
.RegisterStudentsTable th,td{
    border:solid 1px;
}
.RegisterStudentsTable th{
    width: 10rem;
}